* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(20,25,34);
}
.maincontainer {
    width: 100%;
    height: 100vh;
}
/* navbar */
.top-area {
    height: calc(100% - 90px);
    display: flex;
}
/* barra laterale */
.asidebar {
    height: 100%;
    width: 250px;
    background-color: black;
    position: fixed;
}
.asidebar .logo img {
    width: 130px;
}
.asidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}
.asidebar .navigation ul li {
    padding: 10px 0;
    text-decoration: none;
    color: rgb(163,163,163);
    font-weight: bold;
    font-size: 13px;
}
.asidebar .navigation ul li a {
    text-decoration: none;
    color: rgb(163,163,163);
    font-weight: bold;
    font-size: 13px;
}
.asidebar .navigation h3 {
    color: white;
    font-size: larger;
    margin-top: 20px;
}
.fa-plus-square {
    font-size: 28px;
}
.asidebar .scarica {
    position: absolute;
    bottom: 120px;
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
    list-style: none;
    padding-bottom: 5px;
}
.asidebar .scarica a {
    text-decoration: none;
    color: rgb(163,163,163);
}
.asidebar .scarica i {
    padding-right: 10px;
}
hr {
    margin-top: 10px;
    color: rgb(163,163,163);
    width: 125px;
}
.asidebar .utente {
    position: absolute;
    bottom: 90px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    list-style: none;
    padding-bottom: 5px;
}
/* main */
.mainarea {
    width: calc(100% - 250px);
    height: 100%;
    background-color: rgb(20,25,34);
}
.navbar {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    background-color: rgba(8,11,18,0.6);
    text-align: right;
    padding: 30px 20px 30px 0;
}
a {
    text-decoration: none;
    color: white;
}
.navbar .button {
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 20px;
}
/* footer */
.bottom-area {
    height: 90px;
    background-color: rgb(40,40,40);
}

/*  */
/* MEDIA */
/*  */
@media only screen and (max-width: 480px){
    .asidebar {
        width: 80px;
    }
    .mainarea {
        width: calc(100% - 80px);
    }
    .navbar {
        width: calc(100% - 80px);
    }
}